:root {
	--cor-azul: #6da9de;
	--cor-rosa: #982f81;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Dosis';
	font-size: 20px;
}

.container {
	text-align: center;
}

/***********************************************************
* Title
/***********************************************************/

.title {
	color: #fff;
	display: inline-block;
	background-color: var(--cor-rosa);
	font-weight: bold;
	margin-bottom: 3rem;
	transform: skew(-20deg);
	position: relative;
	z-index: 99;
	padding-top: 0.5rem;
	padding-right: 2.5rem;
	padding-left: 2rem;
	padding-bottom: 0.5rem;
}

.title > span {
	display: inline-block;
	transform: skew(20deg);
}

/***********************************************************
* Header
/***********************************************************/

.header {
	background-image: url(../img/logo.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

/***********************************************************
* Menu
/***********************************************************/

.menu-container {
	margin: 0 auto;
	margin-left: 35rem;
	width: 75rem;
}

.menu {
	display: flex;
	padding: 0;
	margin: 0;
}
.box-li{
	position: relative;
	display: inline-block;
	left: 10rem;
	bottom: 0rem;
	margin-right: 0.25rem;
	height: 7rem;
	text-align: center;
}

.menu li {
	list-style: none;
	background-color: var(--cor-rosa);
	transform: skew(-20deg);
}

.menu li:hover {
	background-color: var(--cor-azul);
}

.social {
	margin-left: 10px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 2rem;
	transform: skew(20deg);
}

@media (max-width: 762px) {
	.menu-container {
		width: 100%;
		margin-left: auto;
		height: 30px;
	}

	.menu {
		width: 100vw;
		flex-direction: column;
	}

	.menu li {
		transform: skew(0deg);
		margin: 0;
	}

	.menu a {
		width: 100%;
		transform: skew(0deg);
	}
}

/***********************************************************
* Evento
/***********************************************************/

.evento {
	padding: 20px 0;
	background-color: var(--cor-azul);
	color: #fff;
}

/***********************************************************
* Palestras / Palestrantes
/***********************************************************/

.palestras {
	padding: 40px 0;
}

.palestrante {
	transition: all .3s;
}

.palestrante:hover {
	background-color: #f4f4f4;
	transform: translateY(15px);
}

.bio-palestrante {
	font-size: 16px;
}

.img-palestrante {
	margin-top: 10px;
}

/***********************************************************
* Programacao
/***********************************************************/

.programacao {
	background-color: var(--cor-azul);
	text-align: center;
	color: #fff;
	padding: 40px 0;
}

table {
	background-color: #fff;
	color: #333;
}
/***********************************************************
* Mapa
/***********************************************************/

.mapa {
	padding: 0;
	height: 450px;
}

#map {
	top: -130px;
	height: 450px;
}

/***********************************************************
* Inscrição
/***********************************************************/

label {
	text-align: left;
}

.incricao input, 
.incricao select, 
.incricao textarea {
	color: #bec1c6;
}

textarea {
	min-height: 8.5rem;
}

.botao-enviar, 
.botao-enviar:hover {
	background-color: var(--cor-rosa);
	border-color: var(--cor-rosa);
	color: #fff;
}
